<!DOCTYPE html><html><head><meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover"><meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means."><link rel="icon" ype="image/png" href="/static/assets/favicon.png"><link rel="stylesheet" href="/static/css/main.css"><title>{{.Title}}</title><script src="/static/js/main.js"></script><script>var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player',{
    events: {
      onReady: function(event) {
        //- var embedCode = event.target.getVideoEmbedCode()
        //- event.target.unMute()
        event.target.setVolume(100)
      }
    }
  })
}</script><!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '2048222891932812');
fbq('track', 'PageView');
</script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript><!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script><script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-133675222-1');</script><!-- End Facebook Pixel Code --></head><body><div class="uk-offcanvas-content" uk-height-viewport="expand:true"><div id="offcanvas" uk-offcanvas="mode: push"><div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary"><button class="uk-offcanvas-close" type="button" uk-close></button><ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul></div></div><div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"><nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar><div class="uk-navbar-left"><ul class="uk-navbar-nav"><li class="uk-hidden@m"><a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a></li></ul></div><div class="uk-navbar-center"><div class="uk-navbar-center-left uk-visible@m"><ul class="uk-navbar-nav"><li class="uk-parent"><a href="/home-health/services.html">Services</a></li><li class="uk-parent"><a href="/home-health/eligibility.html">Eligibility</a></li><li class="uk-parent"><a href="/home-health/resources.html">Resources</a></li><li class="uk-parent"><a href="/home-health/community.html">Community</a></li></ul></div><a class="uk-navbar-item uk-logo" href="/"><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"></a><div class="uk-navbar-center-right uk-visible@m"><ul class="uk-navbar-nav"><li class="uk-parent uk-nav-divider"></li><li class="uk-parent"><a href="/home-health/careers.html">Careers</a></li><li class="uk-parent"><a href="/home-health/about.html">About</a></li><li class="uk-parent"><a href="/home-health/locations.html">Locations</a></li><li class="uk-parent"><a href="/home-health/contact.html">Contact</a></li></ul></div></div></nav></div><script src="/static/js/flash.js"></script><div class="uk-grid-medium"><div class="uk-text-center uk-width-1-1 uk-padding uk-padding-remove-left uk-padding-remove-right"><img src="/static/assets/cchha.svg" alt="Compassionate Care Home Health Agency Logo"><div class="uk-container"><p class="uk-text-center uk-padding-small">Central California's leading Home Health Agency; providing world-class, personalized medical services in the privacy & comfort of your home.</p></div></div></div><div id="video" style="background-image: url('/static/assets/background-cchha.jpg'); background-repeat: no-repeat; background-size: 100%; margin-top: -10px;"><div class="uk-text-center uk-width-1-1 uk-padding uk-padding-remove-left uk-padding-remove-right"><div uk-lightbox><a class="uk-icon-button" href="/static/assets/cchha.mp4" uk-icon="icon: play; ratio: 5" style="min-height: 150px; min-width: 150px; margin-top: 5%; color: rgba(153, 153, 153, 0.7); background: rgba(248, 248, 248, 0.6);"></a></div></div></div><div class="uk-tile" id="steps"> <h1 class="uk-text-left" style="color: #666;">Starting care is easy...</h1></div><div class="uk-tile" id="steps" uk-scrollspy="target: &gt; * &gt; *; cls:uk-animation-slide-left-medium; delay: 1000; repeat:true;"><div class="uk-child-width-1-3@m uk-child-width-1-1@s" uk-grid><div class="uk-container"><h1>Step One</h1><p class="uk-text-lead">Call us at: <a href="tel:559-432-2003" style="background-color:transparent; color: black;">1(559)-432-2003</a></p><p class="uk-text-lead">To see if home health could be right for you or a loved one.</p></div><div class="uk-container"><h1>Step Two</h1><p class="uk-text-lead">Have a face to face appointment with your physician and have them complete your referral form</p><a class="uk-button uk-button-default uk-button-large uk-width-1-1" download href="/static/assets/referral-form.pdf">Download the referral form</a></div><div class="uk-container" uk-scrollspy="target: &gt; *; cls:uk-animation-slide-left-medium; delay: 1000; repeat:true;"><h1>Step Three</h1><p class="uk-text-lead">Have your physician FAX your referral form to our office at: 1(559)-899-0967</p></div></div></div><div class="uk-container"><p class="uk-text-center uk-padding-small">We have 3 office locations and service 8 counties, listed from north to south: Stanislaus, Mariposa, Merced, Madera, Fresno, Tulare, Kings and Kern Counties. </p></div><div id="map"></div><script>function initMap() {
  var position = {lat: 36.6467741, lng: -119.7986504}
  var map = new google.maps.Map(document.getElementById('map'), {
    center: position,
    zoom: 9,
    mapTypeControlOptions: {
      mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
              'styled_map']
    }
  })
  var styledMapType = new google.maps.StyledMapType([
    { "elementType": "geometry", "stylers":[{"color": "#f5f5f5"}]},
    { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] },
    { "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
    { "elementType": "labels.text.stroke", "stylers": [ { "color": "#f5f5f5" } ] },
    { "featureType": "administrative.land_parcel", "elementType": "labels.text.fill", "stylers": [ { "color": "#bdbdbd" } ] },
    { "featureType": "poi", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] },
    { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
    { "featureType": "poi.business", "stylers": [ { "visibility": "off" } ] },
    { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] },
    { "featureType": "poi.park", "elementType": "labels.text", "stylers": [ { "visibility": "off" } ] },
    { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
    { "featureType": "road", "elementType": "geometry", "stylers": [ { "color": "#ffffff" } ] },
    { "featureType": "road.arterial", "stylers": [ { "visibility": "off" } ] },
    { "featureType": "road.arterial", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
    { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#AAAAAA" } ] },
    { "featureType": "road.highway", "elementType": "labels", "stylers": [ { "visibility": "off" } ] },
    { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
    { "featureType": "road.local", "stylers": [ { "visibility": "off" } ] },
    { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
    { "featureType": "transit.line", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] },
    { "featureType": "transit.station", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] },
    { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#3cc2f1" } ] },
    { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] }
  ], {name: 'Styled Map'})
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');
  var polygon = [
    
    {lng:-119.739990,lat:37.365791},
    
    {lng:-119.481812,lat:37.361426},
    // top right kern county
    {lat: 35.785317,lng: -117.648419},
    // bottom right kern county
    {lat: 34.827211,lng: -117.632488},
    // bottom left kern county
    {lat: 34.814554, lng: -119.243202},
    // top left kern county
    {lat: 35.775694, lng: -120.192180},
    // old point
    //- {lat:36.4309921,lng:-118.899067},
    //- {lat:36.076213, lng:-118.708239},
    //- {lat:35.836913, lng:-119.267636},
    {lng:-120.454102,lat:36.124565},
    {lng:-120.437622,lat:36.800488},
    
    {lat:36.986407, lng:-120.626421},
    {lat:37.348722, lng:-120.601722},
    {lng:-119.739990,lat:37.365791}
    

  ];
  var stanislaus = [
    // top left
    {lat: 38.077404, lng: -120.925294},
    // top right
    {lat: 37.632357,lng: -120.392376},
    // bottom middle
    {lat: 37.399237, lng: -120.983809},
    // bottom left
    {lat: 37.134572, lng: -121.230753},
    // left point side
    {lat: 37.158540, lng: -121.396470},
    // top left point
    {lat: 37.469861, lng: -121.483809},
    // top middle
    {lat: 37.739048, lng: -121.103987},
    // top dip
    {lat: 37.738313, lng: -120.919521},
  ];
  var mariposia = [
    // top left
    {lat: 37.903610, lng: -119.533572},
    // bottom left
    {lat: 37.785705, lng: -119.308338},
    {lat: 37.556817, lng:-119.581706},
    {lat: 37.424373, lng: -119.651834},
    {lat: 37.414149, lng: -119.761756},
    {lat: 37.505242, lng: -120.332217},
    
    {lat: 37.679488, lng: -120.381559},
    {lat: 37.653329, lng: -120.329306},
    {lat: 37.720857, lng: -120.348502},
    {lat: 37.820599, lng: -120.067148},
    {lat: 37.752520, lng: -119.907644},
    {lat: 37.807922, lng: -119.658888},
  ]
  //- {lat: 37.267631, lng: -120.181928},
  //-   {lat: 37.428977, lng: -120.285674},
  //-   {lat: 37.633754, lng: -120.384328},
  var areaLocal = new google.maps.Polygon({
    paths: polygon,
    strokeColor: '#3cc2f1',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#3cc2f1',
    fillOpacity: 0.35,
    map: map
  });

  var areaSanJose = new google.maps.Polygon({
    paths: stanislaus,
    strokeColor: '#3cc2f1',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#3cc2f1',
    fillOpacity: 0.35,
    map: map
  });

  var areaMariposia = new google.maps.Polygon({
    paths: mariposia,
    strokeColor: '#3cc2f1',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#3cc2f1',
    fillOpacity: 0.35,
    map: map
  });
  var FresnoLocal = new  google.maps.Marker({
    title: "Fresno Location",
    icon: "/static/assets/mapicon-small.png",
    position: {lat: 36.846932, lng: -119.796462},
    map: map
  });
  var BakersfieldLocal = new google.maps.Marker({
    title: "Bakersfield Location",
    icon: "/static/assets/mapicon-small.png",
    position: {lat: 35.359276, lng: -119.060229},
    map: map
  });
  var ModestoLocation = new google.maps.Marker({
    title: "Modesto Location",
    icon: "/static/assets/mapicon-small.png",
    position: {lat: 37.6486441, lng: -120.9798689},
    map: map
  });
}</script><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfKnbAc26lvXCm5cjlN8rhoIUngITo9JE&amp;callback=initMap" async defer></script><!--Start of Tawk.to Script--><script>var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d38b65d9b94cd38bbe91af2/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();</script><footer class="uk-container uk-padding"><div uk-grid><div class="uk-width-1-1 uk-text-center"><img src="/static/assets/cchha.svg" style="max-height: 100px;" alt="Compassionate Care Home Health Agency Logo"></div><div class="uk-width-1-3@m uk-width-1-1@s"><p class="uk-text-bold uk-heading-divider">Locations</p><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Fresno, California</span><br><div style="padding-left:55px;"><span class="uk-text-right">7545 N. Del Mar Ave, </span><br><span class="uk-text-left">Suite 103, 104 & 204 </span><br><span class="uk-text-right">Fresno, California </span><br><span class="uk-text-right">93711</span><br><span class="uk-text-right"><a href="tel:559-432-2003">1(559) 432-2003</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Bakersfield, California</span><br><div style="padding-left:55px;"><span class="uk-text-right">5201 California Ave, </span><br><span class="uk-text-left">Suite 255 </span><br><span class="uk-text-right">Bakersfield, California </span><br><span class="uk-text-right">93309</span><br><span class="uk-text-right"><a href="tel:661-846-2833">1(661) 846-2833</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Modesto, California </span><br><div style="padding-left:55px;"><span class="uk-text-right">1165 Scenic Drive,</span><br><span class="uk-text-left">Suite C-1</span><br><span class="uk-text-right">Modesto, California</span><br><span class="uk-text-right">95350</span><br><span class="uk-text-right"><a href="tel:209-622-1058">1(209) 622-1058</a> </span></div></div><div class="uk-width-1-3@m uk-width-1-1@s"><br><ul class="uk-list uk-text-meta"><li><span uk-icon="icon: clock"></span><span class="uk-padding-small uk-text-right">Office Hours: Monday - Friday, 8AM to 5PM</span></li><li><span uk-icon="icon: comment"></span><span class="uk-padding-small uk-text-right">Referrals accepted 7 days a week</span></li><li><span uk-icon="icon: phone"></span><span class="uk-padding-small">Phone: <a href="tel:559-432-2003">1(559) 432-2003</a></span></li><li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all referrals to: 1(559) 899-0967</span></li><li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all MD orders to: 1(877) 868-6528</span></li><li><span uk-icon="icon: mail"></span><span class="uk-padding-small">Email: <a href="mailto:info@cchha.com">info@cchha.com</a></span></li><li> <a href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&amp;eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D"><span uk-icon="icon: facebook"> </span><span class="uk-padding-small">Facebook</span></a></li><li> <a href="https://www.instagram.com/compassionatecarehh/"><span uk-icon="icon: instagram"></span><span class="uk-padding-small">Instagram</span></a></li></ul></div><div class="uk-width-1-3@m uk-width-1-1@s uk-text-center"><p class="uk-text-bold">We Believe in Compassionate Care</p><p>We have been serving the Central Valley community for over fifteen years, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.</p><div uk-grid><div class="uk-width-1-3@m uk-width-1-1@s"><a href="https://www.bbb.org/us/ca/fresno/profile/home-health-care/compassionate-care-home-health-agency-llc-1066-89049202/#sealclick" target="_blank" rel="nofollow"><img src="https://seal-cencal.bbb.org/seals/blue-seal-120-61-bbb-89049202.png" style="border: 0;" alt="Compassionate Care Home Health Agency, LLC BBB Business Review" /></a></div><div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/ACHC-logo-65.png" style="margin-top:10px;"></div></div></div></div></footer></div></body></html>