<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="“Pragma”" content="”no-cache”" />
    <meta http-equiv="“Expires”" content="”-1″" />
    <meta http-equiv="“CACHE-CONTROL”" content="”NO-CACHE”" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      viewport-fit="cover"
    />
    <meta
      name="description"
      content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means."
    />
    <link rel="icon" ype="image/png" href="/static/assets/favicon.png" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>{{.Title}}</title>
    <script src="/static/js/main.js"></script>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player',{
          events: {
            onReady: function(event) {
              //- var embedCode = event.target.getVideoEmbedCode()
              //- event.target.unMute()
              event.target.setVolume(100)
            }
          }
        })
      }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2048222891932812');
      fbq('track', 'PageView');
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"
    /></noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133675222-1');
    </script>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
      <div id="offcanvas" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul>
        </div>
      </div>
      <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-hidden@m"><a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a></li>
            </ul>
          </div>
          <div class="uk-navbar-center">
            <div class="uk-navbar-center-left uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent"><a href="/home-health/services.html">Services</a></li>
                <li class="uk-parent"><a href="/home-health/eligibility.html">Eligibility</a></li>
                <li class="uk-parent"><a href="/home-health/resources.html">Resources</a></li>
                <li class="uk-parent"><a href="/home-health/community.html">Community</a></li>
              </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="/"
              ><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"
            /></a>
            <div class="uk-navbar-center-right uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent uk-nav-divider"></li>
                <li class="uk-parent"><a href="/home-health/careers.html">Careers</a></li>
                <li class="uk-parent"><a href="/home-health/about.html">About</a></li>
                <li class="uk-parent"><a href="/home-health/locations.html">Locations</a></li>
                <li class="uk-parent"><a href="/home-health/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <style>
        .uk-container > p {
          text-indent: 2em;
        }
        .uk-custom {
          text-align: left;
        }
        .uk-card-body {
          padding: 30px 20px;
        }
      </style>
      <div class="uk-padding">
        <h1 class="uk-text-center uk-heading-line"><span>We Believe in Compassionate Care</span></h1>
      </div>
      <div class="primary-alt uk-padding">
        <p>
          Let us show you what compassionate care truly means. For over 15 years, we have proudly served the Central
          Valley community. Each one of our patients is a living testimony of our commitment to providing the highest
          quality of care. We believe quality home health care means helping our patients achieve optimal physical and
          emotional well-being.
        </p>
        <p>
          Our licensed healthcare professionals work diligently with physicians to develop treatment plans based on your
          individual needs. Our multilingual and multicultural staff include nurses, physical therapists, occupational
          therapists, speech therapists, social workers, home health aides, and administrative personnel. We constantly
          strive to improve the quality of life for those whom we serve by providing a patient centered approach to our
          care.
        </p>
        <blockquote class="uk-text-center">
          We care about you; let us help you live independently in the comfort of your own home.
        </blockquote>
      </div>
      <div class="uk-container uk-padding">
        <h1 class="uk-heading-line uk-text-center"><span>Meet the Team</span></h1>
        <div
          class="uk-grid-medium uk-padding uk-child-width-1-4@m uk-child-width-1-2@s"
          uk-grid
          uk-height-match="target: div &gt; .uk-card"
          uk-scrollspy="target: div&gt; .uk-card; cls:uk-animation-fade; delay:500"
        >
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/shawn-kaleka-new.jpg" alt="Image of Shawn Kaleka" />
              </div>
              <div class="uk-card-body">
                <h3>Shawn Kaleka</h3>
                <p class="uk-custom">Chief Executive Officer</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Nick.jpg" alt="Image of Nick Sanchez" /></div>
              <div class="uk-card-body">
                <h3>Nick Sanchez</h3>
                <p class="uk-custom">Chief Operational Officer</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Wilson.jpg" alt="Image of Brent Wilson" /></div>
              <div class="uk-card-body">
                <h3>Brent Wilson, M.D.</h3>
                <p class="uk-custom">Medical Director</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Simran.jpg?cache='no'" alt="Image of Simran Kaleka" />
              </div>
              <div class="uk-card-body">
                <h3>Simran Kaleka, Esq</h3>
                <p class="uk-custom">General Counsel</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/JessicaCross.jpg" alt="Image of Jessica Cross" />
              </div>
              <div class="uk-card-body">
                <h3>Jessica Cross, RN</h3>
                <p class="uk-custom">Director of Nursing and Patient Care Services.</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Debbie%20Favila.png" alt="Image of Deborah Favila" />
              </div>
              <div class="uk-card-body">
                <h3>Deborah Favila</h3>
                <p class="uk-custom">Administrator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Dave%20Parada.jpg" alt="Image of Dave Parada" />
              </div>
              <div class="uk-card-body">
                <h3>Dave Parada</h3>
                <p class="uk-custom">Director of Business Development</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/DREW.jpg" alt="Image of Drew Branch" /></div>
              <div class="uk-card-body">
                <h3>Drew Branch</h3>
                <p class="uk-custom">Director of Therapy</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Norell.jpg" alt="Image of Norell Carrillo" />
              </div>
              <div class="uk-card-body">
                <h3>Norell Carrillo, PT, DPT</h3>
                <p class="uk-custom">Therapy Supervisor</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Heather.jpg" alt="Image of Heather Rangel" />
              </div>
              <div class="uk-card-body">
                <h3>Heather Rangel</h3>
                <p class="uk-custom">Director of Social Services</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Blayne%20Gowens.jpg" alt="Image of Blayne Gowens" />
              </div>
              <div class="uk-card-body">
                <h3>Blayne Gowens</h3>
                <p class="uk-custom">Marketing Director</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Payeng.jpg" alt="Image of Payeng Moua" /></div>
              <div class="uk-card-body">
                <h3>Payeng Moua, RN</h3>
                <p class="uk-custom">Nursing Supervisor</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Kim%20Bowe.jpg" alt="Image of Kimberly Bowe" />
              </div>
              <div class="uk-card-body">
                <h3>Kimberly Bowe, RN</h3>
                <p class="uk-custom">Quality Assurance</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Sherri.jpg" alt="Image of Sherri Graston RN" />
              </div>
              <div class="uk-card-body">
                <h3>Sherri Graston, RN</h3>
                <p class="uk-custom">Quality Assurance</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Kathryn.jpg" alt="Image of Kathryn Ratajczak RN" />
              </div>
              <div class="uk-card-body">
                <h3>Kathryn Ratajczak, RN</h3>
                <p class="uk-custom">Quality Assurance</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Harjeet.jpg" alt="Image of Harjeet Jeeti LVN" />
              </div>
              <div class="uk-card-body">
                <h3>Harjeet Jeeti, LVN</h3>
                <p class="uk-custom">Quality Assurance</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Belen.jpg" alt="Image of Belen Alvarez LVN" />
              </div>
              <div class="uk-card-body">
                <h3>Belen Alvarez, LVN</h3>
                <p class="uk-custom">Quality Assurance</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Bianca.jpg" alt="Image of Bianca Garrard" /></div>
              <div class="uk-card-body">
                <h3>Bianca Garrard, LVN</h3>
                <p class="uk-custom">Wellness Assurance</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Erin.jpg" alt="Image of Erin Gibbard" /></div>
              <div class="uk-card-body">
                <h3>Erin Gibbard, LVN</h3>
                <p class="uk-custom">Supervisor</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Ottavio%20Borgia.jpg" alt="Image of Ottavio Borgia" />
              </div>
              <div class="uk-card-body">
                <h3>Ottavio Borgia</h3>
                <p class="uk-custom">Community Liaison</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Robert.jpg" alt="Image of Robert Casarez" /></div>
              <div class="uk-card-body">
                <h3>Robert Casarez</h3>
                <p class="uk-custom">Community Liaison</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Tanner.jpg" alt="Image of Tanner McFerrin" />
              </div>
              <div class="uk-card-body">
                <h3>Tanner McFerrin</h3>
                <p class="uk-custom">Community Liaison</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Mike%20Gibby.jpg" alt="Image of Mike Gibby" />
              </div>
              <div class="uk-card-body">
                <h3>Mike Gibby</h3>
                <p class="uk-custom">Financial Director</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/LauraAguirre.JPG" alt="Image of Laura Aguirre" />
              </div>
              <div class="uk-card-body">
                <h3>Laura Aguirre</h3>
                <p class="uk-custom">Claims Analyst/Biller</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Karen.jpg" alt="Image of Karen Cote" /></div>
              <div class="uk-card-body">
                <h3>Karen Cote</h3>
                <p class="uk-custom">Claims Analyst/Biller</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Phyliss.jpg?cache='no'" alt="Image of Phyllis Allen" />
              </div>
              <div class="uk-card-body">
                <h3>Phyllis Allen</h3>
                <p class="uk-custom">Claims Analyst/Biller</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Theresa%20Summers.jpg" alt="Image of Theresa Summers" />
              </div>
              <div class="uk-card-body">
                <h3>Theresa Summers</h3>
                <p class="uk-custom">Intake Supervisor</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Maria%20Valenzuela.jpeg" alt="Image of Maria Valenzuela" />
              </div>
              <div class="uk-card-body">
                <h3>Maria Valenzuela</h3>
                <p class="uk-custom">Intake Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Oscar.jpg" alt="Image of Oscar Rivera" /></div>
              <div class="uk-card-body">
                <h3>Oscar Rivera</h3>
                <p class="uk-custom">Intake Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Melissa.jpg" alt="Image of Melissa Rivera" />
              </div>
              <div class="uk-card-body">
                <h3>Melissa Rivera</h3>
                <p class="uk-custom">Intake Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Jay.jpg" alt="Image of Jay Peloian" /></div>
              <div class="uk-card-body">
                <h3>Jay Peloian</h3>
                <p class="uk-custom">Weekend Intake Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/CatherineSullivan.jpg" alt="Image of Catherine Sullivan" />
              </div>
              <div class="uk-card-body">
                <h3>Catherine Sullivan</h3>
                <p class="uk-custom">Scheduling Supervisor</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Sergio%20Macias.jpg" alt="Image of Sergio Macias" />
              </div>
              <div class="uk-card-body">
                <h3>Sergio Macias</h3>
                <p class="uk-custom">Scheduling Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Tyler.jpg" alt="Image of Tyler Rivera" /></div>
              <div class="uk-card-body">
                <h3>Tyler Rivera</h3>
                <p class="uk-custom">Scheduling Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Jordon.jpg" alt="Image of Jordy Munoz" /></div>
              <div class="uk-card-body">
                <h3>Jordy Munoz</h3>
                <p class="uk-custom">Authorization Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/MonicaFlores.jpg" alt="Image of Monica Flores" />
              </div>
              <div class="uk-card-body">
                <h3>Monica Flores</h3>
                <p class="uk-custom">Orders Management/Community Liasion</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Ray_Arnold.jpg" alt="Image of Ray Arnold" /></div>
              <div class="uk-card-body">
                <h3>Ray Arnold</h3>
                <p class="uk-custom">Orders Liaison</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Jacob.jpg" alt="Image of Jacob Cross" /></div>
              <div class="uk-card-body">
                <h3>Jacob Cross</h3>
                <p class="uk-custom">Orders Liaison</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Maria.jpg" alt="Image of Maria Soto" /></div>
              <div class="uk-card-body">
                <h3>Maria Soto</h3>
                <p class="uk-custom">Travel Coordinator</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="/static/assets/Amanda%20Favila.jpg" alt="Image of Amanda Favila" />
              </div>
              <div class="uk-card-body">
                <h3>Amanda Favila</h3>
                <p class="uk-custom">Executive Assistant</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Camron.jpg" alt="Image of Camron Jones" /></div>
              <div class="uk-card-body">
                <h3>Camron Jones</h3>
                <p class="uk-custom">Office Assistant</p>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top"><img src="/static/assets/Matt.jpg" alt="Image of Matt Soto" /></div>
              <div class="uk-card-body">
                <h3>Matt Soto</h3>
                <p class="uk-custom">Office Assistant</p>
              </div>
            </div>
          </div>

            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/static/assets/Natalie.jpg" alt="Image of Natalie Rodriguez" />
                </div>
                <div class="uk-card-body">
                  <h3>Natalie Rodriguez</h3>
                  <p class="uk-custom">Office Assistant</p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top"><img src="/static/assets/Daniela.jpg" alt="Image of Daniela Rocha" /></div>
                <div class="uk-card-body">
                  <h3>Daniela Rocha</h3>
                  <p class="uk-custom">Office Assistant</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Start of Tawk.to Script-->
      <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d38b65d9b94cd38bbe91af2/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
      <footer class="uk-container uk-padding">
        <div uk-grid>
          <div class="uk-width-1-1 uk-text-center">
            <img
              src="/static/assets/cchha.svg"
              style="max-height: 100px;"
              alt="Compassionate Care Home Health Agency Logo"
            />
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s">
            <p class="uk-text-bold uk-heading-divider">Locations</p>
            <span><img src="/static/assets/mapicon.png" style="max-width: 45px;"/></span
            ><span style="padding: 5px;"></span><span class="uk-text-bold">Fresno, California</span><br />
            <div style="padding-left:55px;">
              <span class="uk-text-right">7545 N. Del Mar Ave, </span><br /><span class="uk-text-left"
                >Suites 103 & 104  </span
              ><br /><span class="uk-text-right">Fresno, California </span><br /><span class="uk-text-right">93711</span
              ><br /><span class="uk-text-right"><a href="tel:559-432-2003">1(559) 432-2003</a></span>
            </div>
            <br /><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"/></span
            ><span style="padding: 5px;"></span><span class="uk-text-bold">Bakersfield, California</span><br />
            <div style="padding-left:55px;">
              <span class="uk-text-right">5201 California Ave, </span><br /><span class="uk-text-left">Suite 255 </span
              ><br /><span class="uk-text-right">Bakersfield, California </span><br /><span class="uk-text-right"
                >93309</span
              ><br /><span class="uk-text-right"><a href="tel:661-846-2833">1(661) 846-2833</a></span>
            </div>
            <br /><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"/></span
            ><span style="padding: 5px;"></span><span class="uk-text-bold">Modesto, California </span><br />
            <div style="padding-left:55px;">
              <span class="uk-text-right">1165 Scenic Drive,</span><br /><span class="uk-text-left">Suite C-1</span
              ><br /><span class="uk-text-right">Modesto, California</span><br /><span class="uk-text-right">95350</span
              ><br /><span class="uk-text-right"><a href="tel:209-622-1058">1(209) 622-1058</a> </span>
            </div>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s">
            <br />
            <ul class="uk-list uk-text-meta">
              <li>
                <span uk-icon="icon: clock"></span
                ><span class="uk-padding-small uk-text-right">Office Hours: Monday - Friday, 8AM to 5PM</span>
              </li>
              <li>
                <span uk-icon="icon: comment"></span
                ><span class="uk-padding-small uk-text-right">Referrals accepted 7 days a week</span>
              </li>
              <li>
                <span uk-icon="icon: phone"></span
                ><span class="uk-padding-small">Phone: <a href="tel:559-432-2003">1(559) 432-2003</a></span>
              </li>
              <li>
                <span uk-icon="icon: file"></span
                ><span class="uk-padding-small">Fax all referrals to: 1(559) 899-0967</span>
              </li>
              <li>
                <span uk-icon="icon: file"></span
                ><span class="uk-padding-small">Fax all MD orders to: 1(877) 868-6528</span>
              </li>
              <li>
                <span uk-icon="icon: mail"></span
                ><span class="uk-padding-small">Email: <a href="mailto:info@cchha.com">info@cchha.com</a></span>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&amp;eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D"
                  ><span uk-icon="icon: facebook"> </span><span class="uk-padding-small">Facebook</span></a
                >
              </li>
              <li>
                <a href="https://www.instagram.com/compassionatecarehh/"
                  ><span uk-icon="icon: instagram"></span><span class="uk-padding-small">Instagram</span></a
                >
              </li>
            </ul>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s uk-text-center">
            <p class="uk-text-bold">We Believe in Compassionate Care</p>
            <p>
              We have been serving the Central Valley community for over fifteen years, and our commitment to providing
              the highest quality care shows in every patient we serve. Let us show you what compassionate care truly
              means.
            </p>
            <div uk-grid>
              <div class="uk-width-1-3@m uk-width-1-1@s">
                <a
                  href="https://www.bbb.org/us/ca/fresno/profile/home-health-care/compassionate-care-home-health-agency-llc-1066-89049202/#sealclick"
                  target="_blank"
                  rel="nofollow"
                  ><img
                    src="https://seal-cencal.bbb.org/seals/blue-seal-120-61-bbb-89049202.png"
                    style="border: 0;"
                    alt="Compassionate Care Home Health Agency, LLC BBB Business Review"
                /></a>
              </div>
              <div class="uk-width-1-3@m uk-width-1-1@s">
                <img src="/static/assets/ACHC-logo-65.png" style="margin-top:10px;" />
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
