<!DOCTYPE html>
<html>
  <head><meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover">
    <meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.">
    <link rel="icon" ype="image/png" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{.Title}}</title>
    <script src="/static/js/main.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2048222891932812');
      fbq('track', 'PageView');

    </script>
    <noscript><img height="1" width="1" style="display:none;" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133675222-1');
    </script><!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
      <div id="offcanvas" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul>
        </div>
      </div>
      <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-hidden@m"><a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a></li>
            </ul>
          </div>
          <div class="uk-navbar-center">
            <div class="uk-navbar-center-left uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent"><a href="/home-health/services.html">Services</a></li>
                <li class="uk-parent"><a href="/home-health/eligibility.html">Eligibility</a></li>
                <li class="uk-parent"><a href="/home-health/resources.html">Resources</a></li>
                <li class="uk-parent"><a href="/home-health/community.html">Community</a></li>
              </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="/"
            ><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"
              /></a>
            <div class="uk-navbar-center-right uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent uk-nav-divider"></li>
                <li class="uk-parent"><a href="/home-health/careers.html">Careers</a></li>
                <li class="uk-parent"><a href="/home-health/about.html">About</a></li>
                <li class="uk-parent"><a href="/home-health/locations.html">Locations</a></li>
                <li class="uk-parent"><a href="/home-health/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <style>
        #events li {
          color:white;
        }

      </style>
      <div class="uk-width-1-1 uk-padding">
        <h1 class="uk-text-center uk-heading-line"><span>Community</span></h1>
      </div>
      <div class="uk-grid-collapse uk-width-1-1 uk-grid-match uk-h4 uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid uk-viewport-height="expand:true">
        <div uk-viewport-height>
          <div class="uk-tile uk-tile-muted">
            <h2 class="uk-heading-divider">A Focus on Healthy Communities</h2>
            <p>We believe that a strong community stems from a healthy community. Therefore, we support local events that help foster awareness about health concerns, encourage health-conscious living, and enrich the lives of our community members. We participate in a number of local events, and we encourage you to join us in supporting charitable events or groups in your area.</p>
          </div>
        </div>
        <div id="events">
          <div class="uk-tile uk-tile-primary">
            <ul class="uk-list uk-list-large">
              <li><a href="http://act.alz.org/site/TR?fr_id=10286&amp;pg=entry">Walk to End Alzheimer’s</a></li>
              <li><a href="http://webgw.alsa.org/site/TR/Walks/GoldenWest?pg=entry&amp;fr_id=12654#.WjrsRumnGiu">ALS Association - Walk to Defeat ALS</a></li>
              <li><a href="http://makingstrides.acsevents.org/site/TR/MakingStridesAgainstBreastCancer/MSABCCY17CA?fr_id=84620&amp;pg=entry">American Cancer Society - Making Strides Against Breast Cancer Walk</a></li>
              <li><a href="http://sacramento.info-komen.org/site/TR?fr_id=6852&amp;pg=entry&amp;utm_source=RFTC&amp;utm_medium=FilterResults&amp;utm_campaign=RFTC_Update&amp;_ga=2.201121133.275667276.1500045644-1598641229.1500045644">Susan G Komen - Race for the Cure</a></li>
              <li>Sierra Vista Zesty Spaghetti Dinner</li>
              <li>Sam’s Club Annual Health Fair</li>
            </ul>
          </div>
        </div>
      </div><!--Start of Tawk.to Script-->
      <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d38b65d9b94cd38bbe91af2/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
      <footer class="uk-container uk-padding">
        <div uk-grid>
          <div class="uk-width-1-1 uk-text-center"><img src="/static/assets/cchha.svg" style="max-height: 100px;" alt="Compassionate Care Home Health Agency Logo"></div>
          <div class="uk-width-1-3@m uk-width-1-1@s">
            <p class="uk-text-bold uk-heading-divider">Locations</p><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Fresno, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">7545 N. Del Mar Ave, </span><br><span class="uk-text-left">Suites 103 & 104  </span><br><span class="uk-text-right">Fresno, California </span><br><span class="uk-text-right">93711</span><br><span class="uk-text-right"><a href="tel:559-432-2003">1(559) 432-2003</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Bakersfield, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">5201 California Ave, </span><br><span class="uk-text-left">Suite 255 </span><br><span class="uk-text-right">Bakersfield, California </span><br><span class="uk-text-right">93309</span><br><span class="uk-text-right"><a href="tel:661-846-2833">1(661) 846-2833</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Modesto, California </span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">1165 Scenic Drive,</span><br><span class="uk-text-left">Suite C-1</span><br><span class="uk-text-right">Modesto, California</span><br><span class="uk-text-right">95350</span><br><span class="uk-text-right"><a href="tel:209-622-1058">1(209) 622-1058</a> </span></div>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s"><br>
            <ul class="uk-list uk-text-meta">
              <li><span uk-icon="icon: clock"></span><span class="uk-padding-small uk-text-right">Office Hours: Monday - Friday, 8AM to 5PM</span></li>
              <li><span uk-icon="icon: comment"></span><span class="uk-padding-small uk-text-right">Referrals accepted 7 days a week</span></li>
              <li><span uk-icon="icon: phone"></span><span class="uk-padding-small">Phone: <a href="tel:559-432-2003">1(559) 432-2003</a></span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all referrals to: 1(559) 899-0967</span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all MD orders to: 1(877) 868-6528</span></li>
              <li><span uk-icon="icon: mail"></span><span class="uk-padding-small">Email: <a href="mailto:info@cchha.com">info@cchha.com</a></span></li>
              <li> <a href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&amp;eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D"><span uk-icon="icon: facebook"> </span><span class="uk-padding-small">Facebook</span></a></li>
              <li> <a href="https://www.instagram.com/compassionatecarehh/"><span uk-icon="icon: instagram"></span><span class="uk-padding-small">Instagram</span></a></li>
            </ul>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s uk-text-center">
            <p class="uk-text-bold">We Believe in Compassionate Care</p>
            <p>We have been serving the Central Valley community for over fifteen years, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.</p>
            <div uk-grid>
              <div class="uk-width-1-3@m uk-width-1-1@s"><a href="https://www.bbb.org/us/ca/fresno/profile/home-health-care/compassionate-care-home-health-agency-llc-1066-89049202/#sealclick" target="_blank" rel="nofollow"><img src="https://seal-cencal.bbb.org/seals/blue-seal-120-61-bbb-89049202.png" style="border: 0;" alt="Compassionate Care Home Health Agency, LLC BBB Business Review" /></a></div>
              <div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/ACHC-logo-65.png" style="margin-top:10px;"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
