<!DOCTYPE html>
<html>
  <head><meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover">
    <meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.">
    <link rel="icon" ype="image/png" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{.Title}}</title>
    <script src="/static/js/main.js"></script>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player',{
          events: {
            onReady: function(event) {
              //- var embedCode = event.target.getVideoEmbedCode()
              //- event.target.unMute()
              event.target.setVolume(100)
            }
          }
        })
      }
    </script><!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2048222891932812');
      fbq('track', 'PageView');

    </script>
    <noscript><img height="1" width="1" style="display:none;" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133675222-1');
    </script><!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
      <div id="offcanvas" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul>
        </div>
      </div>
      <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-hidden@m"><a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a></li>
            </ul>
          </div>
          <div class="uk-navbar-center">
            <div class="uk-navbar-center-left uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent"><a href="/home-health/services.html">Services</a></li>
                <li class="uk-parent"><a href="/home-health/eligibility.html">Eligibility</a></li>
                <li class="uk-parent"><a href="/home-health/resources.html">Resources</a></li>
                <li class="uk-parent"><a href="/home-health/community.html">Community</a></li>
              </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="/"
            ><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"
              /></a>
            <div class="uk-navbar-center-right uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent uk-nav-divider"></li>
                <li class="uk-parent"><a href="/home-health/careers.html">Careers</a></li>
                <li class="uk-parent"><a href="/home-health/about.html">About</a></li>
                <li class="uk-parent"><a href="/home-health/locations.html">Locations</a></li>
                <li class="uk-parent"><a href="/home-health/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="uk-padding">
        <h1 class="uk-text-center uk-heading-line"><span>Home Health Guidelines</span></h1>
      </div>
      <section class="uk-section primary">
        <h3 class="uk-text-center uk-padding" style="color:white;">There are three questions to ask when determining if a patient meets Medicare’s homebound status criteria.</h3>
      </section>
      <div class="uk-grid-collapse uk-width-1-1 uk-grid-match uk-h4 uk-child-width-1-1@s uk-child-width-1-3@m" uk-grid uk-viewport-height="expand:true">
        <div>
          <div class="uk-tile uk-tile-muted">
            <h4 class="uk-text-bold">Are the patient’s absences from home:</h4>
            <ul>
              <li>Infrequent?</li>
              <li>Short in duration?</li>
              <li>Requiring a taxing effort?</li>
            </ul>
          </div>
        </div>
        <div>
          <div class="uk-tile uk-tile-muted">
            <h4 class="uk-text-bold">Examples of “infrequent /short in duration” absences:</h4>
            <ul>
              <li>Medical Appointments</li>
              <li>Attending a religious service or funeral</li>
              <li>Occasional trip to the barber or salon</li>
            </ul>
          </div>
        </div>
        <div>
          <div class="uk-tile uk-tile-muted">
            <h4 class="uk-text-bold">Examples of "taxing effort”:</h4>
            <ul>
              <li>Requires the assistance of another person to leave the home</li>
              <li>May require the use of a cane, walker, or wheelchair</li>
              <li>Requires a high level of assistance in order to get into an automobile </li>
            </ul>
          </div>
        </div>
      </div>
      <section class="uk-section">
        <div class="uk-container">
          <h1 class="uk-heading-line uk-text-center"><span>Determining Your Eligibility</span></h1>
          <p class="uk-text-center uk-padding">
            We accept a number of healthcare plans.
            To determine eligibility for home health care for yourself or a loved one,
            please call us at <a href="tel:559.432.2003">(559)432-2003</a>. Please have relevant health information available, as well as the doctor's name, address, and phone number.
          </p>
        </div>
        <div class="uk-container">
          <h3 class="uk-heading-divider uk-padding uk-text-center">We are contracted with the following insurance companies:</h3>
        </div>
        <div class="uk-grid-medium uk-padding uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid uk-height-match="target: div &gt; .uk-card" uk-scrollspy="target: div&gt; .uk-card; cls:uk-animation-fade; delay:500">
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.medicare.gov/"><img src="/static/assets/medicare-logo.png" alt="medicare logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.anthem.com/"><img src="/static/assets/anthem-bluecross-logo.png" alt="anthem blue cross logo"></a>
                <div class="uk-grid-collapse uk-child-width-1-3 uk-text-center uk-position-bottom" uk-grid>
                  <div>
                    <div class="uk-tile uk-tile-muted uk-padding-remove">PPO</div>
                  </div>
                  <div>
                    <div class="uk-tile uk-tile-muted uk-padding-remove">HMO</div>
                  </div>
                  <div>
                    <div class="uk-tile uk-tile-muted uk-padding-remove">Medi-Cal</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.anthem.com/"><img src="/static/assets/anthem-bcbs.jpg" alt="anthem bcbs logo"></a>
                <div class="uk-grid-collapse uk-child-width-1-3 uk-text-center uk-position-bottom" uk-grid>
                  <div>
                    <div class="uk-tile uk-tile-muted uk-padding-remove">PPO</div>
                  </div>
                  <div>
                    <div class="uk-tile uk-tile-muted uk-padding-remove">HMO</div>
                  </div>
                  <div>
                    <div class="uk-tile uk-tile-muted uk-padding-remove">65 Plus</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.care1st.com/"><img src="/static/assets/care1st.png" alt="care one logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.go2medicalservices.com/"><img src="/static/assets/go2medical.GIF" alt="go two medical logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.santehealth.net/"><img src="/static/assets/sante.jpg" alt="sante logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.aarp.org/"><img src="/static/assets/aarp-logo.jpg" alt="a a r p logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.va.gov/COMMUNITYCARE/programs/dependents/champva/index.asp"><img src="/static/assets/champva.jpeg" alt="champva logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="http://www.firstchoicemg.com/"><img src="/static/assets/firstChoice.png" alt="first choice logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.healthnet.com/"><img src="/static/assets/health-net.jpg" alt="health net logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.humana.com/"><img src="/static/assets/humana.jpg" alt="humana logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.uhcwest.com/"><img src="/static/assets/pacificare.jpg" alt="pacifi care logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.uhc.com/"><img src="/static/assets/uhc-logo.png" alt="uhc logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="https://www.medigap.com/secure-horizons-medicare-plans/"><img src="/static/assets/secure-horizons-logo.jpg" alt="secure horizon medi care logo"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-body"><a href="http://www.triwest.com/"><img src="/static/assets/triwest-logo.jpg" alt="tri west logo"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-padding">
          <h5 class="uk-heading-line uk-padding uk-text-center"><span>If you do not see your insurance above, please contact our office to discuss your options.</span></h5>
        </div>
      </section><!--Start of Tawk.to Script-->
      <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d38b65d9b94cd38bbe91af2/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
      <footer class="uk-container uk-padding">
        <div uk-grid>
          <div class="uk-width-1-1 uk-text-center"><img src="/static/assets/cchha.svg" style="max-height: 100px;" alt="Compassionate Care Home Health Agency Logo"></div>
          <div class="uk-width-1-3@m uk-width-1-1@s">
            <p class="uk-text-bold uk-heading-divider">Locations</p><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Fresno, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">7545 N. Del Mar Ave, </span><br><span class="uk-text-left">Suites 103 & 104  </span><br><span class="uk-text-right">Fresno, California </span><br><span class="uk-text-right">93711</span><br><span class="uk-text-right"><a href="tel:559-432-2003">1(559) 432-2003</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Bakersfield, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">5201 California Ave, </span><br><span class="uk-text-left">Suite 255 </span><br><span class="uk-text-right">Bakersfield, California </span><br><span class="uk-text-right">93309</span><br><span class="uk-text-right"><a href="tel:661-846-2833">1(661) 846-2833</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Modesto, California </span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">1165 Scenic Drive,</span><br><span class="uk-text-left">Suite C-1</span><br><span class="uk-text-right">Modesto, California</span><br><span class="uk-text-right">95350</span><br><span class="uk-text-right"><a href="tel:209-622-1058">1(209) 622-1058</a> </span></div>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s"><br>
            <ul class="uk-list uk-text-meta">
              <li><span uk-icon="icon: clock"></span><span class="uk-padding-small uk-text-right">Office Hours: Monday - Friday, 8AM to 5PM</span></li>
              <li><span uk-icon="icon: comment"></span><span class="uk-padding-small uk-text-right">Referrals accepted 7 days a week</span></li>
              <li><span uk-icon="icon: phone"></span><span class="uk-padding-small">Phone: <a href="tel:559-432-2003">1(559) 432-2003</a></span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all referrals to: 1(559) 899-0967</span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all MD orders to: 1(877) 868-6528</span></li>
              <li><span uk-icon="icon: mail"></span><span class="uk-padding-small">Email: <a href="mailto:info@cchha.com">info@cchha.com</a></span></li>
              <li> <a href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&amp;eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D"><span uk-icon="icon: facebook"> </span><span class="uk-padding-small">Facebook</span></a></li>
              <li> <a href="https://www.instagram.com/compassionatecarehh/"><span uk-icon="icon: instagram"></span><span class="uk-padding-small">Instagram</span></a></li>
            </ul>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s uk-text-center">
            <p class="uk-text-bold">We Believe in Compassionate Care</p>
            <p>We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.</p>
            <div uk-grid>
              <div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/BBB-logo.png"></div>
              <div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/ACHC-logo-65.png" style="margin-top:10px;"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
