<!DOCTYPE html>
<html>
  <head><meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover">
    <meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.">
    <link rel="icon" ype="image/png" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{.Title}}</title>
    <script src="/static/js/main.js"></script>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player',{
          events: {
            onReady: function(event) {
              //- var embedCode = event.target.getVideoEmbedCode()
              //- event.target.unMute()
              event.target.setVolume(100)
            }
          }
        })
      }
    </script><!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2048222891932812');
      fbq('track', 'PageView');

    </script>
    <noscript><img height="1" width="1" style="display:none;" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133675222-1');
    </script><!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
      <div id="offcanvas" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul>
        </div>
      </div>
      <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-hidden@m"><a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a></li>
            </ul>
          </div>
          <div class="uk-navbar-center">
            <div class="uk-navbar-center-left uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent"><a href="/home-health/services.html">Services</a></li>
                <li class="uk-parent"><a href="/home-health/eligibility.html">Eligibility</a></li>
                <li class="uk-parent"><a href="/home-health/resources.html">Resources</a></li>
                <li class="uk-parent"><a href="/home-health/community.html">Community</a></li>
              </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="/"
            ><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"
              /></a>
            <div class="uk-navbar-center-right uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent uk-nav-divider"></li>
                <li class="uk-parent"><a href="/home-health/careers.html">Careers</a></li>
                <li class="uk-parent"><a href="/home-health/about.html">About</a></li>
                <li class="uk-parent"><a href="/home-health/locations.html">Locations</a></li>
                <li class="uk-parent"><a href="/home-health/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <style>
        #resources a {
          color:white;
        }
      </style>
      <div class="uk-width-1-1 uk-padding">
        <h1 class="uk-text-center uk-heading-line"><span>Resources</span></h1>
      </div>
      <div class="uk-child-width-1-2 uk-grid-collapse" uk-grid id="resources">
        <div class="uk-background-primary uk-padding uk-width-1-2@m uk-width-1-1@s">
          <h3 class="uk-heading-divider" style="color:white;">Health Care Resources</h3>
          <ul class="uk-list">
            <li><a target="about:blank" href="http://www.healthcareinspirations.com/hci_ezboard.html">EZ Patient Communication Boards</a></li>
            <li><a target="about:blank" href="http://www.merckmanuals.com/home/fundamentals/legal-and-ethical-issues/overview-of-legal-and-ethical-issues-in-health-care">Legal and Ethical Issues in Health Care</a></li>
            <li><a target="about:blank" href="http://www.merckmanuals.com/home/fundamentals/legal-and-ethical-issues/do-not-resuscitate-dnr-orders">Do-Not-Resuscitate (DNR) Orders</a></li>
            <li><a target="about:blank" href="https://www.dhs.wisconsin.gov/glossary.htm">Patient Care Healthcare Acronyms and Abbreviations</a></li>
            <li><a target="about:blank" href="http://www.seniors.ca.gov/">California Gov. Senior Gateway</a></li>
          </ul>
        </div>
        <div class="uk-background-primary uk-padding uk-width-1-2@m uk-width-1-1@s">
          <ul class="uk-list">
            <li><a target="about:blank" href="http://www.medi-cal.ca.gov/contact.asp">Medi-Cal Contact Page</a></li>
            <li><a target="about:blank" href="https://www.cms.gov/">Centers for Medicare and Medicaid Services</a></li>
            <li><a target="about:blank" href="http://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/heat-wave-safety">Heat Wave Safety</a></li>
            <li><a target="about:blank" href="http://www.co.fresno.ca.us/home">Fresno County</a></li>
            <li><a target="about:blank" href="https://www.pge.com/en_US/residential/outages/alerts/alerts.page?WT.mc_id=Vanity_outagealerts">Pacific Gas &amp; Electric (PG&amp;E) offers outage alerts to be delivered via text, email or phone.</a></li>
          </ul>
        </div>
        <div class="uk-background-muted uk-padding uk-width-1-2@m uk-width-1-1@s">
          <h3 class="uk-heading-divider">Fresno County Hospitals</h3>
          <ul class="uk-list">
            <li>Adventist Medical Center - Reedley - (559) 638-8155</li>
            <li>Adventist Medical Center - Selma (559) 891-1000</li>
            <li>Clovis Community Medical Center - Clovis (559) 324-4000</li>
            <li>Coalinga Regional Medical Center - Coalinga (559) 935-6400</li>
            <li>Community Behavioral Health Center - Fresno (559) 449-8000</li>
            <li>Community Regional Medical Center - Fresno (559) 459-6000</li>
            <li>Community Subacute and Transitional Care Center - Fresno (559) 459-1711</li>
            <li>Exodus Recovery Inc. Crisis Stabilization Center - Fresno (559) 453-1008</li>
            <li>Department of State Hospital - Coalinga - (559) 935-4300</li>
            <li>Fresno Heart and Surgical Hospital - Fresno (559) 433-8000</li>
            <li>Fresno Surgical Hospital - Fresno (559) 431-8000</li>
            <li>Kaiser Hospital - Fresno - (559) 448-4500</li>
            <li>San Joaquin Valley Rehabilitation Hospital - Fresno (559) 436-3600</li>
            <li>St. Agnes Medical Center - Fresno (559) 450-3000</li>
          </ul>
        </div>
        <div class="uk-background-muted uk-padding uk-width-1-2@m uk-width-1-1@s">
          <h3 class="uk-heading-divider">Tulare County Hospitals</h3>
          <ul class="uk-list">
            <li>Kaweah Delta Mental Health Hospital D/P Aph - Visalia (559) 624-3300</li>
            <li>Kaweah Delta Medical Center - Visalia (559) 624-6090</li>
            <li>Kaweah Delta Rehabilitation Hospital - Visalia (559) 624-3700</li>
            <li>Kaweah Delta Skilled Nursing Facility - Visalia (559) 732-8614</li>
            <li>Sierra View District Hospital - Porterville (559) 784-1110</li>
          </ul>
        </div>
      </div><!--Start of Tawk.to Script-->
      <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d38b65d9b94cd38bbe91af2/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
      <footer class="uk-container uk-padding">
        <div uk-grid>
          <div class="uk-width-1-1 uk-text-center"><img src="/static/assets/cchha.svg" style="max-height: 100px;" alt="Compassionate Care Home Health Agency Logo"></div>
          <div class="uk-width-1-3@m uk-width-1-1@s">
            <p class="uk-text-bold uk-heading-divider">Locations</p><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Fresno, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">7545 N. Del Mar Ave, </span><br><span class="uk-text-left">Suites 103 & 104 </span><br><span class="uk-text-right">Fresno, California </span><br><span class="uk-text-right">93711</span><br><span class="uk-text-right"><a href="tel:559-432-2003">1(559) 432-2003</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Bakersfield, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">5201 California Ave, </span><br><span class="uk-text-left">Suite 255 </span><br><span class="uk-text-right">Bakersfield, California </span><br><span class="uk-text-right">93309</span><br><span class="uk-text-right"><a href="tel:661-846-2833">1(661) 846-2833</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Modesto, California </span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">1165 Scenic Drive,</span><br><span class="uk-text-left">Suite C-1</span><br><span class="uk-text-right">Modesto, California</span><br><span class="uk-text-right">95350</span><br><span class="uk-text-right"><a href="tel:209-622-1058">1(209) 622-1058</a> </span></div>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s"><br>
            <ul class="uk-list uk-text-meta">
              <li><span uk-icon="icon: clock"></span><span class="uk-padding-small uk-text-right">Office Hours: Monday - Friday, 8AM to 5PM</span></li>
              <li><span uk-icon="icon: comment"></span><span class="uk-padding-small uk-text-right">Referrals accepted 7 days a week</span></li>
              <li><span uk-icon="icon: phone"></span><span class="uk-padding-small">Phone: <a href="tel:559-432-2003">1(559) 432-2003</a></span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all referrals to: 1(559) 899-0967</span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all MD orders to: 1(877) 868-6528</span></li>
              <li><span uk-icon="icon: mail"></span><span class="uk-padding-small">Email: <a href="mailto:info@cchha.com">info@cchha.com</a></span></li>
              <li> <a href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&amp;eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D"><span uk-icon="icon: facebook"></span><span class="uk-padding-small">Facebook</span></a></li>
              <li>
                <a href="https://www.instagram.com/compassionatecarehh/">
                    <span uk-icon="icon: instagram"></span><span class="uk-padding-small">Instagram</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s uk-text-center">
            <p class="uk-text-bold">We Believe in Compassionate Care</p>
            <p>We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.</p>
            <div uk-grid>
              <div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/BBB-logo.png"></div>
              <div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/ACHC-logo-65.png" style="margin-top:10px;"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
