<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv=“Pragma” content=”no-cache”>
        <meta http-equiv=“Expires” content=”-1″>
        <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover">
        <meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve.
            Let us show you what compassionate care truly means.">
        <link rel="icon" ype="image/png" href="/static/assets/favicon.png">

        <title>{{.Title}}</title>

        <link rel="stylesheet" href="/static/css/ratingbar.css">
        <link rel="stylesheet" href="/static/css/colorized.css">
        <link rel="stylesheet" href="/static/css/hover-min.css">
        <link rel="stylesheet" href="/static/css/stars.css">
        <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.ratingbar.js"></script>
        <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
        
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
        <script src="/static/js/stars-reviews.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.js"></script>
        
        
        
        
        <!-- <script src="/static/js/animate.js"></script> -->
        <!-- Facebook Pixel Code -->
        <script>
            // ($(".uk-table-hover").hover($('tr').animate({transform: scale(2)}, 1000, function() {
            //     console.log("log")
            // }))())
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2048222891932812');
        fbq('track', 'PageView');
    </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-133675222-1');
        </script>
    </head>
    <body>
        {{$IsSuperUser := .User.IsSuperUser}}
        {{$IsAdmin := .User.IsAdmin}}
        {{$userID := .User.ID}}
        {{$count := .Count}}
        <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
            <div id="offcanvas" uk-offcanvas="mode: push">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    </ul>
                </div>
            </div>
            <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
                <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-hidden@m">
                                <a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-navbar-center">
                        <div class="uk-navbar-center-left uk-visible@m">
                            <ul class="uk-navbar-nav">
                                <li class="uk-parent"><a href="/home-health/services.html">Services</a></li>
                                <li class="uk-parent"><a href="/home-health/eligibility.html">Eligibility</a></li>
                                <li class="uk-parent"><a href="/home-health/resources.html">Resources</a></li>
                                <li class="uk-parent"><a href="/home-health/community.html">Community</a></li>
                            </ul>
                        </div>
                        <a class="uk-navbar-item uk-logo" href="/"><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"></a>
                        <div class="uk-navbar-center-right uk-visible@m">
                            <ul class="uk-navbar-nav">
                                <li class="uk-parent uk-nav-divider"></li>
                                <li class="uk-parent"><a href="/home-health/careers.html">Careers</a></li>
                                <li class="uk-parent"><a href="/home-health/about.html">About</a></li>
                                <li class="uk-parent"><a href="/home-health/locations.html">Locations</a></li>
                                <li class="uk-parent"><a href="/home-health/contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="uk-width-1-1 uk-text-center">
                <div class="py2">
                    <h1 class="uk-heading-hero uk-text-title-colorized uk-text-uppercase" style="color: var(--faded-black);font-family:'Open Sans', sans-serif;"><span class="">Reviews</span></h1>
                
                </div>
            </div>
            <div class="uk-width-1-1 pr2">
                <!-- uk-animation-fade -->
                <table id="review_scores" class="uk-table uk-table-hover mx-auto uk-animation-fade">
                    <caption><p class="uk-text-center caps" style="font-family:'Open Sans', sans-serif; line-height: 30px;">{{.Calc.Avg}} Average Rating out of {{.Count}} reviews</p></caption>
                    <tbody>
                        <tr onClick="window.location= '/home-health/reviews/5'">
                            <td class="bar-data" style="line-height: 30px;"><p class="rating">5 Star</p></td>
                            <td id="calc5" class="review_ratings">{{.Calc.Percentages.Five}}</td>
                            <td>{{.Calc.Total.Five}}</td>
                        </tr>
                        <tr onClick="window.location= '/home-health/reviews/4'" style="line-height: 30px;">
                            <td class="bar-data" style="line-height: 30px;"><p class="rating">4 Star</p></td>
                            <td id="calc4" class="review_ratings">{{.Calc.Percentages.Four}}</td>
                            <td>{{.Calc.Total.Five}}</td>
                            <!-- <td class="mrn4 pt1">{{.Calc.Percentages.Four}}</td> -->
                        </tr>
                        <tr onClick="window.location= '/home-health/reviews/3'" style="line-height: 30px;">
                            <td class="bar-data" style="line-height: 30px;"><p class="rating">3 Star</p></td>
                            <td id="calc3" class="review_ratings">{{.Calc.Percentages.Three}}</td>
                            <td>{{.Calc.Total.Five}}</td>
                            
                        </tr>
                        <tr onClick="window.location= '/home-health/reviews/2'" style="line-height: 30px;">
                            <td class="bar-data" style="line-height: 30px;"><p class="rating">2 Star</p></td>
                            <td id="calc2" class="review_ratings">{{.Calc.Percentages.Two}}</td>
                            <td>{{.Calc.Total.Two}}</td>
                        </tr>
                        <tr onClick="window.location= '/home-health/reviews/1'" style="line-height: 30px;">
                            <td class="bar-data" style="line-height: 30px;"><p class="rating">1 Star</p></td>
                            <td id="calc1" class="review_ratings">{{.Calc.Percentages.One}}</td>
                            <td>{{.Calc.Total.One}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="options" uk-filter="target: #js-filter">
                <div style="padding-left: 40px;" class="uk-tile uk-tile-secondary">
                    <ul class="uk-subnav uk-subnav-pill">
                        <li class="uk-active" uk-filter-control>
                            <a href="#">
                                <div class="uk-flex" style="padding: 10px;">
                                    <span></span>
                                    <span style="margin-left: 5px;">ALL</span>
                                </div>
                            </a>
                        </li>
                        <li uk-filter-control=".tag-compassionate-care-home-health">
                            <a href="#">
                                <div class="uk-flex" style="padding: 10px;">
                                    <span></span>
                                    <span style="margin-left: 5px;">CCHHA</span>
                                </div>
                            </a>
                        </li>
                        <li uk-filter-control=".tag-indeed">
                            <a href="#">
                                <div class="uk-flex" style="padding: 10px;">
                                    <span uk-icon="icon:indeed"></span>
                                    <span style="margin-left: 5px;">INDEED</span>
                                </div>
                            </a>
                        </li>
                        <li uk-filter-control=".tag-google">
                            <a href="#">
                                <div class="uk-flex" style="padding: 10px;">
                                    <span uk-icon="icon:google"></span>
                                    <span style="margin-left: 5px;">GOOGLE</span>
                                </div>
                            </a>
                        </li>
                        <li uk-filter-control=".tag-yelp">
                            <a href="#">
                                <div class="uk-flex" style="padding: 10px;">
                                    <span uk-icon="icon:yelp"></span>
                                    <span style="margin-left: 5px;">YELP</span>
                                </div>
                            </a>
                        </li>
                        <li uk-filter-control=".tag-facebook">
                            <a href="#">
                                <div class="uk-flex" style="padding: 10px;">
                                    <span uk-icon="icon:facebook"></span>
                                    <span style="margin-left: 5px;">facebook</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
           
            {{if eq $count 0}}
            <ul id="js-filter" class="uk-child-width-1-1@m uk-child-width-1-1@m p2 uk-grid-match" uk-grid>
                <li>
                    <div class="p1">
                        <div class="uk-card uk-card-default uk-padding-small reviews">
                            <div class="uk-card-body p2 uk-grid-match" uk-grid>
                                <h2 class="uk-text-lead uk-text-center@s uk-text-center" 
                                    style="transform: capitilize">
                                    {{.Data.Title}}</h2>
                                <p class="uk-text-lead uk-text-center@s uk-text-middle"></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {{end}}
            <div class="uk-section-primary">
                <div class="p0 uk-margin-xlarge-left uk-margin-xlarge-right">
                    <ul class="p1 uk-pagination">

                        <li>
                            <a href="/home-health/reviews/page/{{.PreviousPage}}" class="caps hvr-underline-from-right uk-badge-feature-off uk-textarea"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a>
                        </li>
                        <li class="uk-margin-auto-left">
                            <a href="/home-health/reviews/page/{{.NextPage}}" class="caps hvr-underline-from-left uk-badge-feature-off uk-textarea">Next <span class="uk-margin-small-left" uk-pagination-next></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            {{if ge $count 1}}
            <ul id="js-filter" class="uk-child-width-1-2@m uk-child-width-1-1@m p2 uk-grid-match" uk-grid>
            {{range $i, $val := .Data}}
                <li class="tag-{{.ExternalSiteName}}" uk-scrollspy="cls: uk-animation-scale-up uk-animation-fade uk-transform-origin-top-center; delay: 500; repeat: false">
                    <div class="uk-section-primary uk-card-header" style="height: 20px; border-bottom: 1px solid rgba(0,0,0,0.08);">
                            <div class="flex items-start items-baseline uk-flex-column">
                            {{if $IsSuperUser }}
                            <div>
                                <ul class="uk-iconnav uk-position-right" style="top: 5px; right: 5px;">
                                    <li>
                                        <div class="px1">
                                            <span id="heart-{{.Model.ID}}" data-featured={{.Featured}}
                                                onClick="setDataFeatured({{.Model.ID}});"
                                                uk-icon="icon: heart; ratio: 1">
                                                
                                            </span>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="px1">
                                                <a href="#modal-full-{{.Model.ID}}" uk-toggle="target: #modal-full-{{.Model.ID}};" style="color: rgba(225,225,225, 0.8);"><span id="expand-{{.Model.ID}}" uk-icon="icon: expand"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="px1">
                                            <span uk-icon="icon: close" onclick="rejection({{.Model.ID}})"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                                    
                            {{end}}
                            
                            </div>
                    </div>
                    <div class="uk-card uk-card-default uk-padding-small reviews" id="review-{{.Model.ID}}">
                        <div class="uk-card-body p2">
                            
                            <div class="flex items-start items-baseline uk-flex-column">
                                {{if ne .Title ""}}
                                <div>
                                    <h3 class="uk-text-capitalize" style="font-size: 1.4rem;">{{.Title}}</h3>
                                </div>
                                {{else}}
                                <div>
                                    <h3 class="h2 uk-text-capitalize" style="visibility: hidden;">Untitled</h3>
                                </div>
                                {{end}}
                            <div>
                                    <p class="uk-text-muted uk-text-small">
                                        {{ToDate .Model.CreatedAt}} {{ToTime .Model.CreatedAt}}
                                    </p>
                                </div>
                            </div>
                            <script>
                                (function() {
                                    let favorited = document.getElementById('heart-{{.Model.ID}}')
                                    
                                        if (favorited.dataset.featured == "true") {
                                            favorited.childNodes[1].childNodes[0].setAttribute('fill', 'red')
                                        }
                                }())
                                document.addEventListener('DOMContentLoaded', star('{{.Rating}}','#review-{{.Model.ID}}'))
                            </script>
                            {{if ne .Username ""}}
                            <p class="uk-custom">{{.Username}}</p>
                            {{else}}
                            <p class="uk-custom" >Review</p>
                            {{end}}

                            {{if ne .ExternalSiteName ""}}
                            <p class="uk-text-meta review-source"><a href="{{.ExternalLink}}">{{.ExternalSiteName}}</a></p>
                            {{else}}
                            <p class="uk-text-meta review-source" style="visibility: hidden;">No Referral</p>
                            {{end}}
                            <p class="truncate">{{.Body}}</p>
                                <div class="uk-flex uk-flex-right">
                                    <span class="uk-button uk-button-default"
                                        style="z-index: 999;" uk-toggle="target: #modal-{{.Model.ID}}">Read More</span>
                                </div>
                        </div>
                    </div>

                    <div id="modal-full-{{.Model.ID}}" class="uk-modal uk-modal-full" style="background: white;" uk-modal>
                        <div class="uk-modal-dialog">
                            <button type="button" class="uk-modal-close-default" uk-close></button>
                            <div class="uk-modal-header">
                                <div class="flex uk-flex-wrap items-start items-baseline">
                                    <div>
                                        
                                     {{if eq .Title ""}}
                                     <div class="uk-section-muted">
                                        <p class="uk-custom" style="display: none">Anonymous review</p>
                                    </div>
                                    {{else}}
                                         <h3 class="uk-text-capitalize uk-modal-title">{{.Title}}</h3>
                                    {{end}}                                 
                                    </div>
                                    <div>
                                        <p class="uk-text-muted uk-text-small">
                                            {{ToDate .Model.CreatedAt}} {{ToTime .Model.CreatedAt}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-modal-body">
                                {{if eq .Username "Anonymous review"}}
                                <div class="uk-section-muted">
                                    <p class="uk-custom">{{.Username}} well?</p>
                                </div>
                                {{else}}
                                <div class="uk-section-muted">
                                    <p class="uk-custom" style="display: none;">Anonymous review</p>
                                </div>
                                {{end}}
                                <p class="uk-text-meta"><a href="{{.ExternalLink}}">{{.ExternalSiteName}}</a></p>
                                <div class="uk-section-muted">
                                    <div class="uk-section-default">
                                        <p>{{.Body}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal-{{.Model.ID}}" class="uk-modal" uk-modal>
                        <div class="uk-modal-dialog">
                            <button class="uk-modal-close-default uk-modal-close" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <div class="flex uk-flex-wrap items-start items-baseline">
                                    <div>
                                        <h3 class="uk-modal-title uk-text-capitalize">{{.Title}}</h3>
                                    </div>
                                    <div>
                                        <p class="uk-text-muted uk-text-small pl1">
                                            {{ToDate .Model.CreatedAt}} {{ToTime .Model.CreatedAt}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-modal-body">
                                {{if ne .Username ""}}
                                    <p class="uk-custom">{{.Username}}</p>
                                {{else}}
                                    <p class="uk-custom">Anonymous review</p>
                                {{end}}
                                <p class="uk-text-meta uk-text-uppercase"><a href="{{.ExternalLink}}">{{.ExternalSiteName}}</a></p>
                                <p>{{.Body}}</p>
                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </li>
            {{end}} <!-- range -->
            
            </ul>
            </div>
            {{end}} <!-- if count > 1 -->
            <div class="uk-width-1-1 uk-padding">
                <h1 class="uk-text-center uk-heading-line"><span>Leave Us A Review</span></h1>
            </div>
            <div class="uk-flex-center uk-flex">
                <form class="uk-padding uk-grid-small" uk-grid action="/home-health/reviews" method="POST">
                    <div class="uk-width-1-1">
                        <div class="uk-flex uk-flex-center stars">
                            <input class="star starRating" type="checkbox" value="1" name="rating">
                            <input class="star starRating" type="checkbox" value="2" name="rating">
                            <input class="star starRating" type="checkbox" value="3" name="rating">
                            <input class="star starRating" type="checkbox" value="4" name="rating">
                            <input class="star starRating" type="checkbox" value="5" name="rating">
                        </div>
                        <br>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-inline uk-width-1-1"><span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text" placeholder="Full Name" name="review_name" required>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-inline uk-width-1-1"><span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input" type="text" placeholder="E-Mail (Will not be published)" name="review_email" required>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-inline uk-width-1-1">
                            <input class="uk-input" type="text" placeholder="Review Title" name="review_title" required>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <textarea class="uk-textarea" placeholder="Review" rows="5" style="resize:none; overflow-x:hidden;" name="review_body" required></textarea>
                    </div>
                    <div class="uk-width-1-3">
                        <div class="g-recaptcha" data-sitekey="6Ldyv7UUAAAAAC0uWC7PTIBdowvM2yhw4hmLI-Lv"></div>
                        <input class="uk-input" type="submit">
                    </div>
                </form>
            </div>

            <footer class="uk-container uk-padding">
                <div uk-grid>
                    <div class="uk-width-1-1 uk-text-center">
                        <img src="/static/assets/cchha.svg" style="max-height: 100px;" alt="Compassionate Care Home Health Agency Logo">
                    </div>
                    <div class="uk-width-1-3@m uk-width-1-1@s">
                        <p class="uk-text-bold uk-heading-divider">Locations</p>
                        <span>
                            <img src="/static/assets/mapicon.png" style="max-width: 45px;">
                        </span>
                        <span style="padding: 5px;"></span>
                        <span class="uk-text-bold">Fresno, California</span>
                        <br>
                        <div style="padding-left:55px;">
                            <span class="uk-text-right">7545 N. Del Mar Ave, </span>
                            <br>
                            <span class="uk-text-left">Suite 103, 104 & 204 </span>
                            <br>
                            <span class="uk-text-right">Fresno, California </span>
                            <br>
                            <span class="uk-text-right">93711</span>
                            <br>
                            <span class="uk-text-right">
                                <a href="tel:559-432-2003">1(559) 432-2003</a>
                            </span>
                        </div>
                        <br>
                        <span>
                            <img src="/static/assets/mapicon.png" style="max-width: 45px;">
                        </span>
                        <span style="padding: 5px;"></span>
                        <span class="uk-text-bold">Bakersfield, California</span>
                        <br>
                        <div style="padding-left:55px;"><span class="uk-text-right">5201 California Ave, </span>
                            <br><span class="uk-text-left">Suite 255 </span>
                            <br><span class="uk-text-right">Bakersfield, California </span>
                            <br><span class="uk-text-right">93309</span>
                            <br><span class="uk-text-right"><a href="tel:661-846-2833">1(661) 846-2833</a></span></div>
                        <br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Modesto,
                            California
                        </span>
                        <br>
                        <div style="padding-left:55px;"><span class="uk-text-right">1165 Scenic Drive,</span>
                            <br><span class="uk-text-left">Suite C-1</span>
                            <br><span class="uk-text-right">Modesto, California</span>
                            <br><span class="uk-text-right">95350</span>
                            <br><span class="uk-text-right"><a href="tel:209-622-1058">1(209) 622-1058</a> </span>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-width-1-1@s">
                        <br>
                        <ul class="uk-list uk-text-meta">
                            <li><span uk-icon="icon: clock"></span><span class="uk-padding-small uk-text-right">Office Hours: Monday - Friday, 8AM to 5PM</span></li>
                            <li><span uk-icon="icon: comment"></span><span class="uk-padding-small uk-text-right">Referrals accepted 7 days a week</span></li>
                            <li><span uk-icon="icon: phone"></span><span class="uk-padding-small">Phone: <a href="tel:559-432-2003">1(559) 432-2003</a></span></li>
                            <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all referrals to: 1(559) 899-0967</span></li>
                            <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all MD orders to: 1(877) 868-6528</span></li>
                            <li><span uk-icon="icon: mail"></span><span class="uk-padding-small">Email: <a href="mailto:info@cchha.com">info@cchha.com</a></span></li>
                            <li> <a
                                    href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&amp;eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D"><span
                                        uk-icon="icon: facebook"> </span><span class="uk-padding-small">Facebook</span></a></li>
                            <li> <a href="https://www.instagram.com/compassionatecarehh/"><span uk-icon="icon: instagram"></span><span class="uk-padding-small">Instagram</span></a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-3@m uk-width-1-1@s uk-text-center">
                        <div>
                            <p class="uk-text-bold">We Believe in Compassionate Care</p>
                            <p>We have been serving the Central Valley community for over
                                fifteen years, and our commitment to providing the highest
                                quality care shows in every patient we serve. Let us show you
                                what compassionate care truly means.</p>
                        </div>
                        <div uk-grid>
                            <div class="uk-width-1-3@m uk-width-1-1@s"><a
                                    href="https://www.bbb.org/us/ca/fresno/profile/home-health-care/compassionate-care-home-health-agency-llc-1066-89049202/#sealclick"
                                    target="_blank" rel="nofollow"><img
                                        src="https://seal-cencal.bbb.org/seals/blue-seal-120-61-bbb-89049202.png"
                                        style="border: 0;" alt="Compassionate Care Home Health
                                        Agency, LLC BBB Business Review" /></a>
                            </div>
                            <div class="uk-width-1-3@m uk-width-1-1@s"><img
                                    src="/static/assets/ACHC-logo-65.png"
                                    style="margin-top:10px;">
                            </div>
                        </div><!-- end of bbb grid -->
                    </div>
                </div>
                <script>
                    var config = {
                        maxRating: 100,
                        showText: true,
                        animate:		true,
                        duration:		1000,
                        ease:			"easeOutBounce",
                        wrapperClass: "ratingbar_wrapper_custom", 
                        innerClass: "ratingbar_inner_custom", 
                        textClass: "ratingbar_text_custom",
                        wrapperWidth: $(document).width() - 170,
                    }
                    var obj = $(".review_ratings").ratingbar(config)
                    $(window).resize(function(e) {
                        var w = $(document).width()  - 170
                        $("#calc5 .ratingbar_wrapper_custom").attr('style', w)
                        $("#calc4 .ratingbar_wrapper_custom").attr('style', w)
                        $("#calc3 .ratingbar_wrapper_custom").attr('style', w)
                        $("#calc2 .ratingbar_wrapper_custom").attr('style', w)
                        $("#calc1 .ratingbar_wrapper_custom").attr('style', w)
                       update(w)
                        
                    })
                    // useless function
                    function update(w) {
                        var config = {
                            // maxRating: 100,
                            // showText: true,
                            // wrapperClass: "ratingbar_wrapper_custom", 
                            // innerClass: "ratingbar_inner_custom", 
                            // textClass: "ratingbar_text_custom",
                            wrapperWidth: w,
                        }
                        obj.ratingbar('update', config)
                        }

                    function rejection(id) {
                    
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/bd-admin/review/reject", true)
                        xhr.setRequestHeader("Content-Type", "application/json")
                        xhr.onreadystatechange = function() {
                            if (xhr.readyState == 4 && xhr.status == 200) {

                            }
                        }
                        
                    var data = {review_id: parseInt(id), user_id: parseInt({{$userID}}), body: "val"}
                    xhr.send(JSON.stringify(data))
                    }
                
                    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
                    (function(){
                        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                        s1.async=true;
                        s1.src='https://embed.tawk.to/5d38b65d9b94cd38bbe91af2/default';
                        s1.charset='UTF-8';
                        s1.setAttribute('crossorigin', '*');
                        s0.parentNode.insertBefore(s1,s0);
                    })();

                function featureReview(ID, featured) {
                    console.log(featured)
                    var xhr = new XMLHttpRequest(); 
                    xhr.open("POST", "/bd-admin/review/feature", true)
                    xhr.setRequestHeader("Content-Type", "application/json")
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                        
                        }
                    }
                    var bool_value = featured == "true" ? true : false
                    var data = {review_id: parseInt(ID), user_id: parseInt('{{$userID}}'), featured: bool_value}
                    console.log(data)
                    xhr.send(JSON.stringify(data))
                }
                function setDataFeatured(id) {
                    console.log(id)
                    var featured = document.getElementById("heart-"+id)
                    
                    if (featured.dataset.featured == "false") {
                        featured.childNodes[1].childNodes[0].setAttribute('fill', 'red')
                        featured.dataset.featured = "true"
                    } else {
                        featured.dataset.featured = "false"
                        featured.childNodes[1].childNodes[0].setAttribute('fill', 'white')
                    }
                        featureReview(id ,featured.dataset.featured)
                }                         
            </script>
            </footer>
        </div>
    </body>
</html>