<!DOCTYPE html>
<html>
  <head><meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" viewport-fit="cover">
    <meta name="description" content="We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.">
    <link rel="icon" ype="image/png" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{.Title}}</title>
    <script src="/static/js/main.js"></script>
    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player',{
          events: {
            onReady: function(event) {
              //- var embedCode = event.target.getVideoEmbedCode()
              //- event.target.unMute()
              event.target.setVolume(100)
            }
          }
        })
      }
    </script><!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2048222891932812');
      fbq('track', 'PageView');

    </script>
    <noscript><img height="1" width="1" style="display:none;" src="https://www.facebook.com/tr?id=2048222891932812&amp;ev=PageView&amp;noscript=1"></noscript><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133675222-1');
    </script><!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="uk-offcanvas-content" uk-height-viewport="expand:true">
      <div id="offcanvas" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-primary">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"></ul>
        </div>
      </div>
      <div id="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-text-bold uk-navbar-container uk-height-match" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-hidden@m"><a href="#offcanvas" uk-toggle uk-icon="icon: menu"></a></li>
            </ul>
          </div>
          <div class="uk-navbar-center">
            <div class="uk-navbar-center-left uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent"><a href="/home-health/services.html">Services</a></li>
                <li class="uk-parent"><a href="/home-health/eligibility.html">Eligibility</a></li>
                <li class="uk-parent"><a href="/home-health/resources.html">Resources</a></li>
                <li class="uk-parent"><a href="/home-health/community.html">Community</a></li>
              </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="/"
            ><img src="/static/assets/favicon.png" alt="Compassionate Care Home Health Agency Logo"
              /></a>
            <div class="uk-navbar-center-right uk-visible@m">
              <ul class="uk-navbar-nav">
                <li class="uk-parent uk-nav-divider"></li>
                <li class="uk-parent"><a href="/home-health/careers.html">Careers</a></li>
                <li class="uk-parent"><a href="/home-health/about.html">About</a></li>
                <li class="uk-parent"><a href="/home-health/locations.html">Locations</a></li>
                <li class="uk-parent"><a href="/home-health/contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="uk-padding">
        <h1 class="uk-text-center uk-heading-line"><span>Services We Provide</span></h1>
      </div>
      <div class="uk-padding primary-alt">
        <p class="uk-text-justify">
          We know there’s no place like home, especially when you are recovering from an illness or injury.
          Our licensed healthcare professionals provide in-home care for patients following a hospitalization, recovering from an illness or surgery, or when referred by a medical provider.
          Our skilled in-home care services include: nursing care, physical therapy, occupational therapy, speech therapy and more.
        </p>
        <p class="uk-text-justify">
          Our multilingual and multicultural team work diligently to provide the best level of care to optimize the health and well-being of our patients.
          Our services allow patients to stay in the comfort of their own home while receiving the care they need.
        </p>
      </div>
      <div class="uk-container uk-padding">
        <div uk-grid>
          <div class="uk-width-auto@s">
            <ul class="uk-tab-left" uk-tab="connect: #content-pane; animation: uk-animation-fade">
              <li><a href="#">Nursing</a></li>
              <li><a href="#">Physical Therapy</a></li>
              <li><a href="#">Occupational Therapy</a></li>
              <li><a href="#">Speech Therapy</a></li>
              <li><a href="#">Home Health Aide</a></li>
              <li><a href="#">Licensed Clinical Social Worker</a></li>
            </ul>
          </div>
          <div class="uk-width-expand@s">
            <ul class="uk-switcher" id="content-pane">
              <li>
                <ul class="uk-list uk-list-divider" uk-scrollspy="target: &gt; li; cls:uk-animation-fade; delay: 200">
                  <li>Wound Care</li>
                  <li>Diabetic Care</li>
                  <li>Pain Assessment and Management</li>
                  <li>Pulmonary Care</li>
                  <li>Tube Feeding, G-Tube Care and Teaching</li>
                  <li>Catheter Care and Change</li>
                  <li>Infusion Therapy</li>
                  <li>Evaluation of Home Environment</li>
                  <li>Cardiac and post-op care</li>
                  <li>In-home infusion / IV</li>
                  <li>Indwelling catheter care</li>
                  <li>Medication management</li>
                  <li>Patient and Caregiver teaching</li>
                  <li>Health assessments including blood pressure monitoring and other vital signs, glucose monitoring, post operation monitoring and telemonitoring</li>
                  <li>Teaching about diseases and treatment</li>
                  <li>Ostomy/colostomy teaching and management</li>
                  <li>IV management</li>
                  <li>Medication reconciliation and reports to doctors or pharmacists</li>
                  <li>Injections</li>
                  <li>Heparin flushes</li>
                  <li>Management of urinary catheters</li>
                  <li>Management of tubes, drains and bags</li>
                  <li>Anti-Coagulation Therapy</li>
                  <li>Cancer Care</li>
                  <li>Care for New or Exacerbated Diagnoses</li>
                  <li>Dehydration Awareness</li>
                </ul>
              </li>
              <li>
                <ul class="uk-list uk-list-divider" uk-scrollspy="target: &gt; li; cls:uk-animation-fade; delay: 200">
                  <li>Functional mobility</li>
                  <li>Gross motor coordination</li>
                  <li>Transfer training</li>
                  <li>Lymphedema treatment</li>
                  <li>Educate patients and caregivers</li>
                  <li>Develop home exercise programs</li>
                  <li>Assess patients’ needs for assistive devices</li>
                  <li>Fall risk reduction, through balance training and recommendations on safety</li>
                  <li>Pain, Strength and Balance</li>
                  <li>Edema</li>
                  <li>Range of motion</li>
                  <li>Orthopedic</li>
                  <li>Spinal Injuries</li>
                  <li>Sports Injuries</li>
                  <li>Muscle Strains</li>
                  <li>Back Injuries</li>
                  <li>Cervical Injuries</li>
                </ul>
              </li>
              <li>
                <ul class="uk-list uk-list-divider" uk-scrollspy="target: &gt; li; cls:uk-animation-fade; delay: 200">
                  <li>Home Safety</li>
                  <li>Pain assessment and management</li>
                  <li>Upper extremity strength and range of motion</li>
                  <li>Coordination</li>
                  <li>Vision and perception</li>
                  <li>Cognition</li>
                  <li>Sensation</li>
                  <li>Home exercise programs</li>
                  <li>Patient education</li>
                  <li>Work simplification</li>
                  <li>Energy conservation</li>
                  <li>Joint protection</li>
                  <li>Adaptive equipment assessment and instruction</li>
                  <li>Independent living training</li>
                  <li>Stroke</li>
                  <li>Orthopedic Surgeries</li>
                  <li>Arthritis</li>
                  <li>Spinal Cord Injuries</li>
                  <li>Cardiac Problems</li>
                  <li>Chronic Obstructive Pulmonary Disease</li>
                </ul>
              </li>
              <li>
                <ul class="uk-list uk-list-divider" uk-scrollspy="target: &gt; li; cls:uk-animation-fade; delay: 200">
                  <li>Adaptive speech devices</li>
                  <li>Aural (hearing) rehabilitation</li>
                  <li>Non-oral communication</li>
                  <li>Dysphagia (swallowing)</li>
                  <li>Eating and swallowing strategies</li>
                  <li>Home speech and language exercise program</li>
                  <li>Communication options/alternatives</li>
                  <li>Home safety</li>
                  <li>Speech</li>
                  <li>Language</li>
                  <li>Cognition</li>
                  <li>Patient and caregiver education</li>
                  <li>Specialized Care</li>
                  <li>Autism</li>
                  <li>Cerebral Palsy</li>
                  <li>Developmental Delays</li>
                  <li>Cranial Nerve Damage</li>
                  <li>Dyslexia</li>
                  <li>Trachea tube care and maintenance</li>
                  <li>Language Delays</li>
                </ul>
              </li>
              <li>
                <ul class="uk-list uk-list-divider" uk-scrollspy="target: &gt; li; cls:uk-animation-fade; delay: 200">
                  <li>Assist with client’s personal care activities</li>
                  <li>Monitor patients (vital signs, temperature, respiration, etc.) and report on their condition</li>
                  <li>Maintain patients care records and document provided services</li>
                  <li>Instruct and counsel patients and families on diet and exercise</li>
                  <li>Collect routine specimens</li>
                  <li>Provide companionship and basic emotional or psychological support</li>
                </ul>
              </li>
              <li>
                <ul class="uk-list uk-list-divider" uk-scrollspy="target: &gt; li; cls:uk-animation-fade; delay: 200">
                  <li>Community resource planning and coordination</li>
                  <li>Advance directives (Power of Attorney for Health Care or Living Will)</li>
                  <li>Assistance in emotional adjustments to life changes</li>
                  <li>Crisis intervention</li>
                  <li>Assistance with applications for financial aid</li>
                  <li>Counseling with life-style changes</li>
                  <li>Teaching regarding coping with loss and change</li>
                  <li>Grief counseling/coping with impending loss</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div><!--Start of Tawk.to Script-->
      <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d38b65d9b94cd38bbe91af2/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
      <footer class="uk-container uk-padding">
        <div uk-grid>
          <div class="uk-width-1-1 uk-text-center"><img src="/static/assets/cchha.svg" style="max-height: 100px;" alt="Compassionate Care Home Health Agency Logo"></div>
          <div class="uk-width-1-3@m uk-width-1-1@s">
            <p class="uk-text-bold uk-heading-divider">Locations</p><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Fresno, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">7545 N. Del Mar Ave, </span><br><span class="uk-text-left">Suites 103 & 104 </span><br><span class="uk-text-right">Fresno, California </span><br><span class="uk-text-right">93711</span><br><span class="uk-text-right"><a href="tel:559-432-2003">1(559) 432-2003</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Bakersfield, California</span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">5201 California Ave, </span><br><span class="uk-text-left">Suite 255 </span><br><span class="uk-text-right">Bakersfield, California </span><br><span class="uk-text-right">93309</span><br><span class="uk-text-right"><a href="tel:661-846-2833">1(661) 846-2833</a></span></div><br><span><img src="/static/assets/mapicon.png" style="max-width: 45px;"></span><span style="padding: 5px;"></span><span class="uk-text-bold">Modesto, California </span><br>
            <div style="padding-left:55px;"><span class="uk-text-right">1165 Scenic Drive,</span><br><span class="uk-text-left">Suite C-1</span><br><span class="uk-text-right">Modesto, California</span><br><span class="uk-text-right">95350</span><br><span class="uk-text-right"><a href="tel:209-622-1058">1(209) 622-1058</a> </span></div>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s"><br>
            <ul class="uk-list uk-text-meta">
              <li><span uk-icon="icon: clock"></span><span class="uk-padding-small uk-text-right">Office Hours: Monday - Friday, 8AM to 5PM</span></li>
              <li><span uk-icon="icon: comment"></span><span class="uk-padding-small uk-text-right">Referrals accepted 7 days a week</span></li>
              <li><span uk-icon="icon: phone"></span><span class="uk-padding-small">Phone: <a href="tel:559-432-2003">1(559) 432-2003</a></span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all referrals to: 1(559) 899-0967</span></li>
              <li><span uk-icon="icon: file"></span><span class="uk-padding-small">Fax all MD orders to: 1(877) 868-6528</span></li>
              <li><span uk-icon="icon: mail"></span><span class="uk-padding-small">Email: <a href="mailto:info@cchha.com">info@cchha.com</a></span></li>
              <li> <a href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&amp;eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D"><span uk-icon="icon: facebook"> </span><span class="uk-padding-small">Facebook</span></a></li>
              <li> <a href="https://www.instagram.com/compassionatecarehh/"><span uk-icon="icon: instagram"></span><span class="uk-padding-small">Instagram</span></a></li>
            </ul>
          </div>
          <div class="uk-width-1-3@m uk-width-1-1@s uk-text-center">
            <p class="uk-text-bold">We Believe in Compassionate Care</p>
            <p>We have been serving the Central Valley community for over a decade, and our commitment to providing the highest quality care shows in every patient we serve. Let us show you what compassionate care truly means.</p>
            <div uk-grid>
              <div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/BBB-logo.png"></div>
              <div class="uk-width-1-3@m uk-width-1-1@s"><img src="/static/assets/ACHC-logo-65.png" style="margin-top:10px;"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
